*{
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    display: flex;
    gap: 10px;
    padding: 1em;
    justify-content: center;
    text-align: center;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    width: 100%;
}

.header{
    display: grid;
    justify-items: center;
    padding: 1em;
}
.logo{
    max-width: 300px;
}

.slogan{
    font-size:larger;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 2em;
}

.producto{
    border-radius: 0.5em;
    overflow: hidden;
}

.imagen-producto{
    transition: opacity 0.1s ease;
    opacity: 1;
}

.imagen-producto.oculto{
    transition: opacity 0.15s ease;
    opacity: 0.5;
}